{% extends 'layout.html' %}

{% block meta %}

<style>
  header {
    background-image: url('https://unsplash.com/photos/7fS-nJMJohs/download?w=1920');
  }

  img {
    max-height: 50px;
    filter: hue-rotate(230deg);
  }
</style>

{% endblock %}

{% block stuff %}

<section>
  <h2>{{item[1]}}</h2>
  <p>Kuvaus: {{item[2]}}</p>
  {% if item[3] %}
    <p>Lisää tietoa: <a href="{{item[3]}}" target="_blank">{{item[3]}}</a></p>
  {% endif %}
  <p>Lainaajan maine: {{rating}}</p>
  <img src="https://tiikerikakku.github.io/rojusailio/beautiful_divider.svg" alt="sisällönjakaja">
  <h3>
    &gt;&gt;
    {% if item[4] != session['user'] %}
      {% if item[5] == None %}
        <a href="/lend/{{item[0]}}">Haluan lainata tämän!</a>
      {% else %}
        Tuote on sinulla lainassa.
      {% endif %}
    {% else %}
      {% if item[5] == None %}
        <a href="#">Poista tuote</a>
      {% else %}
        <a href="/return/{{item[0]}}">Merkitse laina palautetuksi</a>
      {% endif %}
    {% endif %}
  </h3>
</section>

{% endblock %}
