{% extends 'layout.html' %}

{% block meta %}

<style>
  header {
    background-image: url('https://unsplash.com/photos/vzH-3-yH45E/download?w=1920');
  }

  ul li a:any-link {
    color: lightcoral;
  }
</style>

{% endblock %}

{% block stuff %}

<section>
  <h2>Asetuksesi</h2>

  <form action="/profile" method="post">
    <input type="text" name="user" placeholder="Valitse käyttäjätunnus" required value="{{user[0]}}">
    <textarea name="contacts" rows="5" placeholder="Ilmoita tässä yhteystietosi, jotka muut käyttäjät näkevät. Esimerkiksi puhelinnumero." required>{{user[1]}}</textarea>
    <input type="text" name="area" inputmode="numeric" pattern="\d{4}[059]" placeholder="Postinumerosi? (ei yrityspostinumeroita tai vst.)" required value="{{'%05d'|format(user[2])}}">
    <input type="hidden" name="csrf" value="{{session['csrf']}}">
    <input type="submit" value="Päivitä 🕸️">
  </form>

  <p><strong>Salasanan vaihtaminen</strong></p>

  <form action="/password" method="post">
    <input type="password" name="secret" placeholder="Mikä on nykyinen salasanasi?" required>
    <input type="password" name="theNewSecret" placeholder="Valitse uusi salasana" required>
    <input type="hidden" name="csrf" value="{{session['csrf']}}">
    <input type="submit" value="Vaihda salasana 🔐">
  </form>

  <p><strong>Yrityskorttelit</strong></p>

  <p>
    Yrityskorttelit ovat erityisiä kortteleita, jotka eivät ole sidottuja tiettyyn maantieteelliseen
    sijaintiin (postinumeroalueeseen). Sellaisen voi luoda esimerkiksi yrityskiinteistön käyttäjiä tai
    taloyhtiön asukkaita varten. Oikeastaan vain mielikuvitus on rajana korttelilainaamon
    yrityskorttelin käyttökohdetta miettiessä.
  </p>

  <form action="/business" method="post">
    <input type="text" name="name" placeholder="Valitse yrityskorttelille nimi" required>
    <input type="hidden" name="csrf" value="{{session['csrf']}}">
    <input type="submit" value="Luo yrityskortteli 🏬">
  </form>

  <ul>
    {% for business in companies %}
      <li><mark><strong>{{'%04d'|format(business[0])}}9</strong></mark> {{business[1]}} <a href="/blowupbusiness/{{business[0]}}?csrf={{session['csrf']}}">poista</a></li>
    {% else %}
      <li>Ei luotuja yrityskortteleita.</li>
    {% endfor %}
  </ul>

  <p>&gt;&gt; <a href="/welcome">Voit myös poistua päivittämättä tietojasi</a></p>
</section>

{% endblock %}
