{% extends 'layout.html' %}

{% block meta %}

<style>
  header {
    background-image: url('https://unsplash.com/photos/BFiv6Wx_l_8/download?w=1920');
  }

  ul {
    list-style-type: '>> ';
  }

  strong {
    color: indigo;
  }
</style>

{% endblock %}

{% block stuff %}

<section>
  <h2>Pikavalikko</h2>
  <form action="/item" method="post">
    <input type="text" name="name" placeholder="Esineen nimi" required>
    <textarea name="description" rows="2" placeholder="Esineen kuvaus tänne." required></textarea>
    <input type="submit" value="Luo esine 📨">
  </form>
  <ul>
    <li>Omat esineesi</li>
    <li>Asetukset</li>
  </ul>

  {% if req != [] %}
    <strong>Pyynnöt ({{req|count}})</strong>
    <ul>
      {% for sreq in req %}
        <li><a href="/requests/{{sreq[0]}}" target="_blank">{{sreq[1]}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if reviews != [] %}
    <strong>Anna palautetta ({{reviews|count}})</strong>
    <ul>
      {% for review in reviews %}
        <li>{{review[2]}} <a href="/review/{{review[0]}}" target="_blank">({{review[1].strftime('%d.%m.%Y')}})</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if given != [] %}
    <strong>Muille lainaamasi ({{given|count}})</strong>
    <ul>
      {% for item in given %}
        <li><a href="/item/{{item[0]}}" target="_blank">{{item[1]}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if having != [] %}
    <strong>Sinulla lainassa ({{having|count}})</strong>
    <ul>
      {% for item in having %}
        <li><a href="/item/{{item[0]}}" target="_blank">{{item[1]}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <h2>Omalla alueellasi ({{area}})</h2>
  <ul>
    {% for item in items %}
      <li><a href="/item/{{item[0]}}" target="_blank">{{item[1]}}</a></li>
    {% else %}
      <li>Ei yhtään esinettä alueellasi. Harmillista, mutta sinä voit muuttaa tilannetta!</li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
